%center
  -unless @array
    .jumbotron
      .container
        - unless (params[:artist] == nil and params[:title] == nil) or (params[:artist] == "" and params[:title] == "")
          %br
          - if params[:action] == "create"
            %h3 Sorry, song not found. Check your spelling and search again.
          - if params[:action] == "create_album"
            %h3 Sorry, album not found. Check your spelling and search again.
          - if params[:action] == "create_discography"
            %h3 Sorry, discography not found. Check your spelling and search again.
        - else
          %br
          %h1 LyricsCloud
          %p Type your search above and press submit!
  -else
    #cloud{:style => "width:window.innerWidth; height:450px;"}
    Songs In This LyricsCloud:
    <br>
    - if @album_tracks
      - @album_tracks.each do |track|
        = track
        <br>
    - elsif @discography_tracks
      - @discography_tracks.each do |track|
        = track
        <br>
    - else
      = params[:title].capitalize
      <br><a href="mailto:">Something missing?</a>
      <br><br><br><br><br>