!!!
%html
  %head
    %title LyricsCloud
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
  %body
    = yield